
documents/*.docx
documents/*.doc
documents/*.pdf
documents/*.tmp
*.docx
*.doc
*.pdf
*.tmp
# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*