{% include 'includes/table_freeze_header.html' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% for i in file_indent %}
        <th scope="col">
          {% if i == 'left' %}
          Sol Kenar Boşluğu(0 cm)
          {% elif i == 'right' %}
          Sağ Kenar Boşluğu(0 cm)
          {% endif %}
        </th>
      {% endfor %}
      {% for i in file_alignment %}
        <th scope="col">
          {% if i == 'alignment' %}
            Hizalama
          {% elif i == 'text' %}
            Yazı
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in file_alignment['text']  %}
      {% set _alignment = file_alignment['alignment'][loop.index-1] %}
      {% set _text = file_alignment['text'][loop.index-1] %}
      {% set _left = file_indent['left'][loop.index-1]%}
      {% set _right = file_indent['right'][loop.index-1]%}
      {% if (_text != '' and _text != '\t') and (_text != '\t\t') %}
        <tr>
          <th scope="row">{{loop.index}}</th>
            <td>
              {% if _left == 0 %}
              <i class="fas fa-check"></i> {{_left}} cm
              {% else %}
              <i class="fas fa-times-circle"></i> {{_left}} cm
              {% endif %}
            </td>
            <td>
              {% if _right == 0 %}
              <i class="fas fa-check"></i> {{_right}} cm
              {% else %}
              <i class="fas fa-times-circle"></i> {{_right}} cm
              {% endif %}
            </td>
            <td>
              {% if _alignment == 1 %}
              <i class="fas fa-align-center"></i> ORTALI
              {% elif _alignment == 2 %}
              <i class="fas fa-align-right"></i> SAĞA YASLI
              {% elif _alignment == 3 %}
              <i class="fas fa-align-justify"></i> İKİ YANA YASLI
              {% else %}
              <i class="fas fa-align-left"></i> SOLA YASLI
              {% endif %}
            </td>
          <td><i class="fas fa-paragraph"></i> {{_text}}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
