{% include 'includes/table_freeze_header.html' %}

<table class="table">
    <thead class="thead-color">
        <tr>
        <th scope="col"><i class="fas fa-paragraph"></i></th>
        <th scope="col">Paragraf etiketine sahip olan satırlar</th>
        </tr>
    </thead>
    <tbody>
        {% for p in content_list %}
            {% if p != "" %}
                <tr>
                <th scope="row">
                    {{loop.index}}
                </th>
                <td>{{p}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

