{% extends 'layout.html' %}
<!--success color : #d4edda-->
{% block style %}
  h3.title {
    text-align: center;
  }
{%endblock style %}
{% block body %}

  <h3 class="title">
    <i class="fas fa-file-word"></i> Bilgisi Gösterilen Dosya: {{filename}}
  </h3>
  

  {% include 'includes/file_details.html' %}

  {% include 'includes/paragraph.html' %}

  
  {% block script %}
  <script>
    function getSelectedCheckboxValues(name) {
      const checkboxes = document.querySelectorAll(
        `input[name="${name}"]:checked`
      );
      let values = [];
      checkboxes.forEach((checkbox) => {
        values.push(checkbox.value);
      });
      return values;
    }

    const btn = document.querySelector('#btn');
    btn.addEventListener('click', (event) => {
      alert(getSelectedCheckboxValues('color'));
    });
  </script>
  <!-- TODO: Bu kısmı aç
  <script>
    // Warning before leaving the page (back button, or outgoinglink)
    window.onbeforeunload = function () {
      return 'Do you really want to leave our brilliant application?';
      //if we return nothing here (just calling return;) then there will be no pop-up question at all
      //return;
    };
  </script>
  -->
  {% endblock script %}
{% endblock body %}
