{% extends 'layout.html' %} {% block body %}
<h3>Select a docx/doc file</h3>
<hr />
<div class="jumbotron">
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <br>
        <br>
        <p><input type="submit" name="submit_button" class="btn btn-primary" value="Dosya Detayları" ></p>
        <p><input type="submit" name="submit_button" class="btn btn-info" value="Dosya Üst ve Alt Başlıkları"></p>
        <p><input type="submit" name="submit_button" class="btn btn-success" value="Paragraf"></p>
        <p><input type="submit" name="submit_button" class="btn btn-danger" value="Dosya Sayfa Yapısı"></p>
        <p><input type="submit" name="submit_button" class="btn btn-warning" value="Paragraf Hizalama ve Girinti"></p>
        <p>button below is for debug mode. </p>
        <p><input type="submit" name="submit_button" class="btn btn-warning" value="Bütün Özellikleri Tek Seferde Kontrol Et"></p>
      </form>
</div>
{% endblock body %}
